@charset "UTF-8";

body{
    background: rgb(158, 158, 232);
    font-family: 'Courier New', Courier, monospace;
}
header{
    color:aliceblue;
    text-align:center;
}
section{
    background: white;
    border-radius: 11px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow:5px 5px 10px rgb(53, 48, 48);

}
footer{
    color:aliceblue;
    text-align:center;
}
#foto, #msg{
    text-align:center;
}